PG_USER=postgres
PGHOST=localhost
PGDATABASE=neppay
PGPASSWORD=securepassword
PGPORT=port

DOMAIN=example.com

DEV_TEST=TRUE

JWT_SECRET=RandomLongString

SENDGRID_API_KEY=SG.API.KEY
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=NepPay

SEND_REGISTER_EMAIL=TRUE